<a href="https://colab.research.google.com/github/urvashi02sinha/AbstractiveTextSummarizer/blob/main/TextSummarizer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import os

In [2]:
summary = pd.read_csv('/content/drive/MyDrive/news-summary/news_summary.csv', encoding='iso-8859-1')

In [3]:
summary

                  author  ...                                              ctext
0           Chhavi Tyagi  ...  The Daman and Diu administration on Wednesday ...
1            Daisy Mowke  ...  From her special numbers to TV?appearances, Bo...
2         Arshiya Chopra  ...  The Indira Gandhi Institute of Medical Science...
3          Sumedha Sehra  ...  Lashkar-e-Taiba's Kashmir commander Abu Dujana...
4     Aarushi Maheshwari  ...  Hotels in Mumbai and other Indian cities are t...
...                  ...  ...                                                ...
4509      Mansha Mahajan  ...  Mumbai, Feb 23 (PTI) Fruit juice concentrate m...
4510      Dishant Sharma  ...  Former cricketer Sachin Tendulkar was spotted ...
4511       Tanya Dhingra  ...  Aamir Khan, whose last film Dangal told the st...
4512      Pragya Swastik  ...  Maharahstra Power Minister Chandrashekhar Bawa...
4513        Chhavi Tyagi  ...  More than half of the languages spoken by Indi...

[4514 rows x 6 columns]

In [4]:
raw = pd.read_csv('/content/drive/MyDrive/news-summary/news_summary_more.csv', encoding='iso-8859-1')

In [5]:
raw

                                               headlines                                               text
0      upGrad learner switches to career in ML & Al w...  Saurav Kant, an alumnus of upGrad and IIIT-B's...
1      Delhi techie wins free food from Swiggy for on...  Kunal Shah's credit card bill payment platform...
2      New Zealand end Rohit Sharma-led India's 12-ma...  New Zealand defeated India by 8 wickets in the...
3      Aegon life iTerm insurance plan helps customer...  With Aegon Life iTerm Insurance plan, customer...
4      Have known Hirani for yrs, what if MeToo claim...  Speaking about the sexual harassment allegatio...
...                                                  ...                                                ...
98396  CRPF jawan axed to death by Maoists in Chhatti...  A CRPF jawan was on Tuesday axed to death with...
98397  First song from Sonakshi Sinha's 'Noor' titled...  'Uff Yeh', the first song from the Sonakshi Si...
98398         'The Matrix' film to get a reboot: Reports  According to reports, a new version of the 199...
98399  Snoop Dogg aims gun at clown dressed as Trump ...  A new music video shows rapper Snoop Dogg aimi...
98400  Madhesi Morcha withdraws support to Nepalese g...  Madhesi Morcha, an alliance of seven political...

[98401 rows x 2 columns]

In [6]:
pre1 =  raw.iloc[:,0:2].copy()
# pre1['head + text'] = pre1['headlines'].str.cat(pre1['text'], sep =" ") 

pre2 = summary.iloc[:,0:6].copy()
pre2['text'] = pre2['author'].str.cat(pre2['date'].str.cat(pre2['read_more'].str.cat(pre2['text'].str.cat(pre2['ctext'], sep = " "), sep =" "),sep= " "), sep = " ")

In [7]:
pre = pd.DataFrame()
pre['text'] = pd.concat([pre1['text'], pre2['text']], ignore_index=True)
pre['summary'] = pd.concat([pre1['headlines'],pre2['headlines']],ignore_index = True)

In [8]:
pre.head(2)

                                                text                                            summary
0  Saurav Kant, an alumnus of upGrad and IIIT-B's...  upGrad learner switches to career in ML & Al w...
1  Kunal Shah's credit card bill payment platform...  Delhi techie wins free food from Swiggy for on...