<a href="https://colab.research.google.com/github/urvashi02sinha/AbstractiveTextSummarizer/blob/main/TextSummarizer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import numpy as np
import pandas as pd
import os

In [7]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [8]:
summary = pd.read_csv('/content/drive/MyDrive/news-summary/news_summary.csv', encoding='iso-8859-1')

In [9]:
summary

                  author  ...                                              ctext
0           Chhavi Tyagi  ...  The Daman and Diu administration on Wednesday ...
1            Daisy Mowke  ...  From her special numbers to TV?appearances, Bo...
2         Arshiya Chopra  ...  The Indira Gandhi Institute of Medical Science...
3          Sumedha Sehra  ...  Lashkar-e-Taiba's Kashmir commander Abu Dujana...
4     Aarushi Maheshwari  ...  Hotels in Mumbai and other Indian cities are t...
...                  ...  ...                                                ...
4509      Mansha Mahajan  ...  Mumbai, Feb 23 (PTI) Fruit juice concentrate m...
4510      Dishant Sharma  ...  Former cricketer Sachin Tendulkar was spotted ...
4511       Tanya Dhingra  ...  Aamir Khan, whose last film Dangal told the st...
4512      Pragya Swastik  ...  Maharahstra Power Minister Chandrashekhar Bawa...
4513        Chhavi Tyagi  ...  More than half of the languages spoken by Indi...

[4514 rows x 6 columns]

In [10]:
raw = pd.read_csv('/content/drive/MyDrive/news-summary/news_summary_more.csv', encoding='iso-8859-1')

In [11]:
raw

                                               headlines                                               text
0      upGrad learner switches to career in ML & Al w...  Saurav Kant, an alumnus of upGrad and IIIT-B's...
1      Delhi techie wins free food from Swiggy for on...  Kunal Shah's credit card bill payment platform...
2      New Zealand end Rohit Sharma-led India's 12-ma...  New Zealand defeated India by 8 wickets in the...
3      Aegon life iTerm insurance plan helps customer...  With Aegon Life iTerm Insurance plan, customer...
4      Have known Hirani for yrs, what if MeToo claim...  Speaking about the sexual harassment allegatio...
...                                                  ...                                                ...
98396  CRPF jawan axed to death by Maoists in Chhatti...  A CRPF jawan was on Tuesday axed to death with...
98397  First song from Sonakshi Sinha's 'Noor' titled...  'Uff Yeh', the first song from the Sonakshi Si...
98398         'The Matrix' film to get a reboot: Reports  According to reports, a new version of the 199...
98399  Snoop Dogg aims gun at clown dressed as Trump ...  A new music video shows rapper Snoop Dogg aimi...
98400  Madhesi Morcha withdraws support to Nepalese g...  Madhesi Morcha, an alliance of seven political...

[98401 rows x 2 columns]

In [12]:
pre1 =  raw.iloc[:,0:2].copy()
# pre1['head + text'] = pre1['headlines'].str.cat(pre1['text'], sep =" ") 

pre2 = summary.iloc[:,0:6].copy()
pre2['text'] = pre2['author'].str.cat(pre2['date'].str.cat(pre2['read_more'].str.cat(pre2['text'].str.cat(pre2['ctext'], sep = " "), sep =" "),sep= " "), sep = " ")

In [13]:
pre = pd.DataFrame()
pre['text'] = pd.concat([pre1['text'], pre2['text']], ignore_index=True)
pre['summary'] = pd.concat([pre1['headlines'],pre2['headlines']],ignore_index = True)

In [14]:
pre.head(2)

                                                text                                            summary
0  Saurav Kant, an alumnus of upGrad and IIIT-B's...  upGrad learner switches to career in ML & Al w...
1  Kunal Shah's credit card bill payment platform...  Delhi techie wins free food from Swiggy for on...

In [15]:
pre['text'][:10]

0    Saurav Kant, an alumnus of upGrad and IIIT-B's...
1    Kunal Shah's credit card bill payment platform...
2    New Zealand defeated India by 8 wickets in the...
3    With Aegon Life iTerm Insurance plan, customer...
4    Speaking about the sexual harassment allegatio...
5    Pakistani singer Rahat Fateh Ali Khan has deni...
6    India recorded their lowest ODI total in New Z...
7    Weeks after ex-CBI Director Alok Verma told th...
8    Andhra Pradesh CM N Chandrababu Naidu has said...
9    Congress candidate Shafia Zubair won the Ramga...
Name: text, dtype: object

In [16]:
import re

#Removes non-alphabetic characters:
def text_strip(column):
    for row in column:
        
        row=re.sub("(\\t)", ' ', str(row)).lower()  #remove escape charecters
        row=re.sub("(\\r)", ' ', str(row)).lower()  #remove carriage return
        row=re.sub("(\\n)", ' ', str(row)).lower()  #remove newline
        
        row=re.sub("(__+)", ' ', str(row)).lower()     #remove _ if it occors more than one time consecutively
        row=re.sub("(--+)", ' ', str(row)).lower()     #remove - if it occors more than one time consecutively
        row=re.sub("(~~+)", ' ', str(row)).lower()     #remove ~ if it occors more than one time consecutively
        row=re.sub("(\+\++)", ' ', str(row)).lower()   #remove + if it occors more than one time consecutively
        row=re.sub("(\.\.+)", ' ', str(row)).lower()   #remove . if it occors more than one time consecutively
        
        row=re.sub(r"[<>()|&©ø\[\]\'\",;?~*!]", ' ', str(row)).lower() #remove <>()|&©ø"',;?~*!
        
        row=re.sub("(mailto:)", ' ', str(row)).lower()                            #remove mailto:
        row=re.sub(r"(\\x9\d)", ' ', str(row)).lower()                            #remove \x9* in text
        row=re.sub("([iI][nN][cC]\d+)", 'INC_NUM', str(row)).lower()              #replace INC nums to INC_NUM
        row=re.sub("([cC][mM]\d+)|([cC][hH][gG]\d+)", 'CM_NUM', str(row)).lower() #replace CM# and CHG# to CM_NUM
        
        
        row=re.sub("(\.\s+)", ' ', str(row)).lower() #remove full stop at end of words(not between)
        row=re.sub("(\-\s+)", ' ', str(row)).lower() #remove - at end of words(not between)
        row=re.sub("(\:\s+)", ' ', str(row)).lower() #remove : at end of words(not between)
        
        row=re.sub("(\s+.\s+)", ' ', str(row)).lower() #remove any single charecters hanging between 2 spaces
        
        #Replace any url as such https://abc.xyz.net/browse/sdf-5327 ====> abc.xyz.net
        try:
            url = re.search(r'((https*:\/*)([^\/\s]+))(.[^\s]+)', str(row))
            repl_url = url.group(3)
            row = re.sub(r'((https*:\/*)([^\/\s]+))(.[^\s]+)',repl_url, str(row))
        except:
            pass #there might be emails with no url in them
        

        
        row = re.sub("(\s+)",' ',str(row)).lower() #remove multiple spaces
        
        row=re.sub("(\s+.\s+)", ' ', str(row)).lower() #remove any single charecters hanging between 2 spaces

        yield row